body {
    background-color: rgb(243, 243, 243);
}

.main-container {
    width: 95%;
    margin: 40px auto;
}

.filter-form {
    max-width: 550px;
    display: flex;
    align-items: flex-end;

}

.table-container {
    margin-top: 16px;
}

.form-container {
    width: 500px;
    margin: auto;
    margin-top: 32px;
}
